body {
  margin     : 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-3xl-5: 22.5px;
  --font-size-xl   : 20px;
  --font-size-base : 16px;
  --font-size-5xl  : 24px;
  --font-size-lgi-5: 19.5px;
  --font-size-lg   : 18px;
  --font-size-11xl : 30px;
  --font-size-13xl : 32px;
  --font-size-lgi  : 19px;
  --font-size-7xl  : 26px;
  --font-size-sm   : 14px;
  --font-size-2xl  : 21px;

  /* Colors */
  --color-white       : #fff;
  --color-darkgray-100: #a3a790;
  --color-darkgray-300: rgba(163, 167, 144, 0);
  --color-darkgray-200: rgba(163, 167, 144, 0.65);
  --color-gainsboro   : rgba(217, 217, 217, 0);
  --color-gray        : rgba(255, 255, 255, 0);
  --color-floralwhite : #fafbf2;
  --color-silver-100  : rgba(191, 191, 191, 0);
  --color-silver      : rgba(197, 201, 175, 0.4);
  --color-ivory       : #f5f7e9;
  --color-dimgray     : #70755c;

  /* Gaps */
  --gap-41xl  : 60px;
  --gap-11xl  : 30px;
  --gap-sm    : 14px;
  --gap-6xs   : 7px;
  --gap-3xs   : 10px;
  --gap-xl    : 20px;
  --gap-5xs   : 8px;
  --gap-6xl   : 25px;
  --gap-31xl  : 50px;
  --gap-8xl-4 : 27.4px;
  --gap-8xl-8 : 27.8px;
  --gap-22xl-5: 41.5px;

  /* Paddings */
  --padding-xl   : 20px;
  --padding-5xs  : 8px;
  --padding-base : 16px;
  --padding-6xl  : 25px;
  --padding-7xs  : 6px;
  --padding-4xl  : 23px;
  --padding-8xs  : 5px;
  --padding-3xs  : 10px;
  --padding-9xs  : 4px;
  --padding-11xl : 30px;
  --padding-33xl : 52px;
  --padding-4xs  : 9px;
  --padding-21xl : 40px;
  --padding-5xl  : 24px;
  --padding-7xl  : 26px;
  --padding-10xs : 3px;
  --padding-smi  : 13px;
  --padding-3xl  : 22px;
  --padding-lg   : 18px;
  --padding-xs   : 12px;
  --padding-14xl : 33px;
  --padding-mid  : 17px;
  --padding-8xs-5: 4.5px;
  --padding-sm   : 14px;

  /* Border radiuses */
  --br-7xs : 6px;
  --br-4xs : 9px;
  --br-5xl : 24px;
  --br-xs  : 12px;
  --br-13xl: 32px;
}